scipy==1.4.1
scikit-learn==0.22.1
numpy==1.20.3
Pillow==5.2.0
opencv-python==3.4.8.29
torchvision==0.8.0
tensorboardX==2.1
block.bootstrap.pytorch==0.1.6
openpyxl==3.0.7
geopy==2.3.0
tqdm==4.65.0
torchsummary==1.4
plotly==5.16.0
matplotlib_venn==0.11.9
xlsxwriter==3.1.2
einops==0.4.1
fire==0.2.1

